html {
  font-family: Poppins, sans-serif;

}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #48b0f7;
  position: relative;
}

.banner, .steps, .reviews, .subscriptions, .footer-content, .products, .navigation, .pricing {
  max-width: 1400px;
  margin: 0 auto;
  display: block;
}

nav {
  text-align: center;
  display: inline;
  overflow: hidden;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-label img {
  display: block;
  width: 100%;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1em;
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
}

.social-icon {
  max-width: 3em;
}

.btn {
  max-width: 9em;
  text-align: center;
  background-color: #48b0f7;
  color: #fff;
  border-radius: 1em;
  border: 2px solid #48b0f7;
}

a:hover {
  background-color: #3f7a9f;
  border: 2px solid #3f7a9f;
  border-radius: 1em;
  padding: .5em;
}

.plans-btn {
  margin: 0 auto;
  display: block;
}

.homepage-banner {
  border-bottom: 1px solid #48b0f7;
}

footer {
  background-color: #48b0f7;
}

.social-header {
  color: #f2f2f2;
}

.step-two {
  background-color: #b6e4fa;
}

.get-started {
  margin: 0 auto;
  display: block;
}

.testimonials {
  background-color: #b6e4fa;
}

.man, .woman {
  max-width: 30em;
}

.step-two-left {
  display: none;
}

.sweaters-left, .accessories-left {
  display: none;
}

.man-right {
  display: none;
}

th, td {
  border-collapse: collapse;
  width: 5em;
  padding: 0;
  vertical-align: middle;
  border: 2px solid #b6e4fa;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.border {
  border-right: 3px solid #b6e4fa;
}

td {
  padding-bottom: 1em;
}

.col-head {
  background-color: #b6e4fa;
}

.check-mark-products {
  max-width: 3em;
  max-height: 3em;
  margin: 0 auto;
  display: block;
}

.check-mark {
  max-width: 5em;
}

.price {
  color: #48b0f7;
  font-size: 4rem;
  line-height: 2.275rem;
}

.pricing-btn {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.price-card {
  border: 2px solid #b6e4fa;
  max-width: 18em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.login {
  color: #48b0f7;
}

input {
  border: none;
  border-bottom: 1px solid #48b0f7;
}

label {
  display: none;
}

.sign-up-btn, .start-designing-btn {
  margin: 0 auto;
  display: block;
  padding: .5em 1em;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    text-align: center;
  }

  .home-banner-btn {
    margin: 0 auto;
    display: block;
  }

  header {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 38em) {

  .banner-content {
    text-align: left;
  }

  .home-banner-btn {
    margin: 0;
    display: block;
  }

  header {
    margin: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 60em) {

  .nav {
    display: block;
  }

  .nav-check:checked ~ .nav {
    display: none;
  }

  .nav-check {
    display: none;
  }

  .nav-label img {
    display: none;
  }

  .sweaters-left, .accessories-left {
    display: block;
  }

  .sweaters-right, .accessories-right {
    display: none;
  }

  .table-wrap {
    overflow: visible;
  }
}

@media only screen and (min-width: 38em) {

  .step-two-left {
    display: block;
  }

  .step-two-right {
    display: none;
  }

  .man-right {
    display: block;
  }

  .man-left {
    display: none;
  }
}
